/*Attribute Selectors*/
input[Type="Text"] {
    border-color:  aqua;
}
input[Type="Password"] {
    border-color: rgb(255, 0, 0);
}
/*Child Selectors*/
ul > li {
    color: brown;
}
/*Sibling Selectors*/
h1 + p {
    background-color: bisque;
}
/*Hover*/
a:hover{
    color: burlywood;
}
/*nth child*/
li:nth-child(2){
    background-color: goldenrod;
}
#heading::before{
content: "🐦‍🔥";
}
#para::after{
    content: "🌟";
}
#para::first-letter{
font-weight: 200;
font-size: 50px;
color: rgb(255, 0, 0);
}